# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Compressed files
*.tar.gz

# Sublime files
*.sublime-workspace

# Folders
build_sublime/
build/
debug/
release/

# Application setup files
Zeta/Libraries
Zeta/Setup/cgns-*
Zeta/Setup/boost-*
Zeta/Setup/hdf5-*
!*.sh
